.unitListPageWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 4rem);
  margin-top: 4rem;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 2rem;

  .factionTitle {
  }

  .seeFactionRulesButton {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    margin: unset;
    padding: 5px 14px;
  }
}

.unitsListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;

  .unitSectionTitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-decoration: underline;
    margin-bottom: 2rem;
  }

  .unitTile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;

    background-color: lightgrey;
    align-items: center;
    width: 200px;
    height: 40px;

    color: black;
  }
}
